// COLORS
$primary: #03bfcb;
$secundary: #074767;
$third: #e4edf3;
$black: #000;
$white: #fff;
$shadow: rgba(000, 000, 000, 0.15);
$gradient: #06385aad;

// RESOLUTION
$break-large: 1200px;
// $break-middle: 969px;
$break-small: 469px;

.wrapper-samples {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
  flex-direction: column;
  .wrapper-sample {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    width: 100%;
    .sample-img {
      width: 50%;
      img {
        width: 85%;
        height: auto;
        object-fit: contain;
      }
      &:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        height: auto;
      }
    }
    .sample-info {
      width: 50%;
      h4 {
        text-transform: uppercase;
        color: $primary;
      }
      h2 {
        color: $secundary;
      }
      p {
        color: $secundary;
        font-weight: lighter;
        font-size: 14px;
        letter-spacing: 0.25px;
        text-align: justify;
        line-height: 20px;
      }
      .sample-details {
        display: flex;
        justify-content: space-between;
        .text-detail {
          width: 70%;
          h5 {
            &:nth-child(1) {
              margin: 0;
              padding: 15px 0;
              border-bottom: 1px solid $secundary;
            }
            &:nth-child(2) {
              padding: 15px 0;
              margin: 0;
            }
            span {
              color: $primary;
              margin-right: 15px;
            }
          }
        }
        button {
          width: 28%;
          height: 50px;
          margin: 20px 0;
          border: none;
          background: $primary;
          color: $white;
          font-weight: bolder;
          text-transform: uppercase;
          font-size: 11px;
          border-radius: 5px;
        }
      }
    }
  }
}

.sample-details-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .s-details {
    display: flex;
    justify-content: space-between;
    width: 40%;
    .s-img-detail {
      margin: auto 0;
      width: 60px;
      height: 60px;
      background: $primary;
      border-radius: 5px;
    }
    .s-text-detail {
      h4 {
        color: $secundary;
      }
      p {
        color: $secundary;
        font-weight: lighter;
      }
    }
  }
}

@media screen and (max-width: $break-small) {
  .wrapper-sample {
    flex-direction: column;
    .sample-img {
      width: 100% !important;
      overflow-x: hidden;
      img {
        width: 100% !important;
      }
    }
    .sample-info {
      width: 100% !important;
      .text-detail {
        width: 100% !important;
      }
      .sample-details {
        flex-direction: column;
      }
      button {
        margin: 25px 0 0 0 !important;
        width: 100% !important;
      }
    }
  }

  .sample-details-b {
    flex-direction: column;
    margin-bottom: 25px;
    .s-details {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .s-text-detail {
        width: 70%;
      }
    }
  }
}
