// COLORS

$primary: #40bafa;
$secundary: #1e183c;
$third: #ee4b4b;
$ligth: #d3f0fb;
$black: #000;
$white: #fff;

// BASIC

html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper-container {
  width: 100%;
  display: flex;
  justify-content: center;
  .container {
    width: 80%;
  }
}
