// COLORS

$primary: #40bafa;
$secundary: #1e183c;
$third: #ee4b4b;
$ligth: #d3f0fb;
$black: #000;
$white: #fff;
$shadow: rgba(000, 000, 000, 0.15);
$gradient: #323a3fad;

// RESOLUTION
$break-large: 1000px;

.wrapper-about {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 125px 0 0 0;
  .wrapper-img-about {
    position: absolute;
    overflow-x: hidden;
    width: 100vw;
    height: 500px;
    background: linear-gradient($gradient, $gradient),
      url("https://aemabitfolder.sfo2.digitaloceanspaces.com/MIAPLUS/adult-children-hands-holding-paper-family-cutout-family-home-foster-care-homeless-support_49149-878.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .about-info {
    position: relative;
    z-index: 2;
    width: 48%;
    h4 {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      color: $primary;
    }
    h2 {
      font-size: 35px;
      color: $white;
    }
    p {
      color: $white;
      font-weight: 200;
      font-size: 14px;
      width: 80%;
      letter-spacing: 0.5px;
      text-align: justify;
      line-height: 20px;
    }
    h5 {
      display: flex;
      align-items: center;
      color: $white;
      padding: 10px;
      background: $primary;
      width: 150px;
      border-radius: 8px;
      text-transform: uppercase;
      cursor: pointer;
      span {
        margin-left: 15px;
        color: $white;
        font-weight: bolder;
        font-size: 20px;
        animation: disolve 1.5s linear infinite;
      }
    }
  }
  .about-client-service {
    position: relative;
    z-index: 2;
    width: 48%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .sm-service {
      width: 50%;
      display: flex;
      align-items: center;
      .img-sm-service {
        width: 50px;
        height: 50px;
        background: $primary;
        border-radius: 8px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 30px;
        }
      }
      .ctx-sm-service {
        width: 200px;
        h5 {
          color: $white;
          text-transform: uppercase;
          font-weight: 700;
          margin-bottom: 0;
        }
        p {
          font-size: 14px;
          color: $white;
          font-weight: 200;
        }
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .wrapper-about {
    flex-direction: column;
    // margin: 100px 0px;
    height: 900px;
    .wrapper-img-about {
      height: 900px;
    }
    .about-info {
      width: 100%;
      p{
          width: 100%;
      }
    }
    .about-client-service{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        .sm-service{
            justify-content: flex-start;
            width: 100%;
            .img-sm-service{
                margin-right: 20px;
            }
        }
    }
  }
}

@keyframes disolve {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(20px);
    opacity: 0;
  }
}
