// COLORS

$primary: #40bafa;
$secundary: #1e183c;
$third: #ee4b4b;
$ligth: #d3f0fb;
$black: #000;
$white: #fff;
$shadow: rgba(000, 000, 000, 0.15);

// RESOLUTION

$break-large: 1000px;
$break-mid: 850px;
$break-small: 566px;

.container-head {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 150px 0px 110px 0px;
  .wrapper-texto {
    width: 45%;
    position: relative;
    z-index: 1;
    color: $black;
    // margin: 0px 45px;
    h4 {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 500;
    }
    h2 {
      font-size: 35px;
    }
    .btn-cta-header {
      display: flex;
      justify-content: flex-start;
      button {
        margin: 0 15px;
        font-size: 16px;
        font-weight: 700;
        white-space: nowrap;
        border-radius: 5px;
        height: 45px;
        border: none;
        background: $primary;
        padding: 25px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        text-transform: uppercase;
        cursor: pointer;
        &:nth-child(1) {
          margin-left: 0px;
        }
        &:nth-child(2) {
          background: $white;
          border: 2px solid $primary;
        }
        img {
          width: 25px;
        }
      }
    }
  }
  .wrapper-img-ppal {
    width: 50%;
    img {
      width: 100%;
      border-radius: 8px;
    }
  }
  .container-video {
    position: absolute !important;
    z-index: 999;
    width: 600px;
    button {
      margin: 15px;
      font-size: 16px;
      font-weight: 700;
      white-space: nowrap;
      border-radius: 5px;
      height: 45px;
      padding: 25px 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background: rgba(255, 255, 255, 0);
      border: 2px solid $white;
      position: absolute;
      z-index: 9999;
    }
    img {
      width: 25px;
    }
  }
}

.wrapper-our-formula {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  //   background: $black;
  height: 300px;
  z-index: 0;
  margin-bottom: 100px;
  .background-wrapper {
    overflow-x: hidden;
    width: 100vw;
    position: absolute;
    top: 0px;
    height: 300px;
    background: $ligth;
  }
  .wrapper-partners {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 99;
    .partners {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px 20px;
      img {
        width: 80px;
      }
    }
  }
}

@media screen and (max-width: $break-large) {
  .container-head {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 50px 0px;
    flex-direction: column;
    height: auto;
    .wrapper-texto {
      position: relative;
      z-index: 1;
      color: $black;
      width: 100%;
      h4 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        text-align: center;
      }
      h2 {
        font-size: 35px;
        text-align: start;
      }
      .btn-cta-header {
        display: flex;
        justify-content: flex-start;
        button {
          margin: 0 15px;
          font-size: 16px;
          font-weight: 700;
          white-space: nowrap;
          border-radius: 5px;
          height: 45px;
          border: none;
          background: $primary;
          padding: 25px 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $white;
          &:nth-child(1) {
            margin-left: 0px;
          }
        }
      }
    }
    .container-video {
      margin-top: 50px;
      // position: absolute !important;
      width: 600px;
    }
  }

  .wrapper-texto {
    top: 25px;
    a {
      margin: 0;
    }
  }

  .container-about {
    flex-direction: column;
    flex-direction: column-reverse;
    .about-img {
      width: 98%;
      margin-top: 25px;
    }
    .about-info {
      width: 100%;
      margin-top: 0;
    }
  }

  .wrapper-our-formula {
    height: 600px;
    .background-wrapper {
      height: 600px;
    }
  }

  .wrapper-img-ppal {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    padding: 80px 0px 0px 0px;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: $break-mid) {
  .wrapper-our-formula {
    .wrapper-partners {
      flex-wrap: wrap;
      .partners {
        width: 45%;
        margin: 20px 0px;
        img {
          width: 100px;
        }
      }
    }
  }
}
@media screen and (max-width: $break-small) {
 .btn-cta-header{
   flex-direction: column;
   button{
     margin: 8px !important;
   }
 } 
 .wrapper-our-formula {
    .wrapper-partners {
      flex-wrap: wrap;
      .partners {
        width: 45%;
        margin: 20px 0px;
        img {
          width: 80px;
        }
      }
    }
  }
  .wrapper-img-ppal {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    padding: 30px 0px 0px 0px;
    img {
      width: 100%;
    }
  }
}

@keyframes disolve {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(20px);
    opacity: 0;
  }
}
