// COLORS
$primary: #3a9baa;
$secundary: #074767;
$third: #e4edf3;
$black: #000;
$white: #fff;
$shadow: rgba(000, 000, 000, 0.15);

// RESOLUTION

$break-large: 1200px;

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
//   background: $secundary;
  z-index: 999 !important;
  position: fixed;
  top: 0;
  .container {
    width: 80%;
    nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
        width: 50%;
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $white;
        text-transform: uppercase;
        font-size: 14px;
        li {
          cursor: pointer;
          font-weight: bold;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}

.scrolling-nav {
  background: $secundary;
}

.title {
  font-size: 20px;
  font-weight: bolder;
  color: $white;
}

.hamburger-menu {
  display: none !important;
}

@media screen and (max-width: $break-large) {
  .header {
    height: 80px;
  }

  .reg-menu {
    display: none !important;
  }

  .hamburger-menu {
    display: block !important;
    //   justify-content: flex-end;
  }

  .wrapper-header {
    margin-right: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.3s;
    .hamburger-header {
      margin: 2px;
      background: linear-gradient(to right, $primary 50%, $white 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.25s ease-out;
      &:nth-child(1) {
        width: 32px;
        height: 2px;
        transition-delay: 0.1s;
      }
      &:nth-child(2) {
        width: 30px;
        height: 2px;
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        width: 28px;
        height: 2px;
        transition-delay: 0.3s;
      }
      &:nth-child(4) {
        width: 32px;
        height: 2px;
        transition-delay: 0.4s;
      }
    }
    &:hover {
      .hamburger-header {
        background-position: left bottom;
      }
    }
  }
}

ul.mobile-nav {
  margin-top: 80px;
  position: fixed;
}

.mobile-nav {
  z-index: 997;
  background: $white;
  width: 100%;
  padding: 25px 25px;
  list-style: none;
  display: flex;
  color: $secundary;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 14px;
  position: absolute;
  border-bottom: 2px solid $shadow;
  box-sizing: border-box;
  li {
    cursor: pointer;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: 1px solid $third;
    &:hover {
      color: $primary;
    }
  }
}
